<h1>Editing formulario</h1>

<%= render :partial => "form", :locals => {:formulario => @formulario} %>
<br/>
<%= link_to 'Show', @formulario %> |
<%= link_to 'Back', derecho_path(:id => @formulario.derecho_id ) %>
