<h2>Listing autoridads</h2>

<ul>
<% @autoridads.each do |autoridad| %>
		<li><%= link_to autoridad.name,
edit_autoridad_path(autoridad) %></li>
<% end %>
		<li><%= link_to '... new', new_autoridad_path %></li>
</ul>
<br />

