Señor <br>
JUEZ.... ? <br/>
E.S.D. <br />

<h1>I. IDENTIFICACIÓN</h1>

<p> n@, identificad@ con la C. C No………….de……….,
ante Ud. respetuosamente ejerzo la acción de tutela contra
, en razón a que de acuerdo
con los hechos y argumentos que expongo a continuación
considero que dicha persona
(Púbica, privada ó solo persona) me ha vulnerado el derecho
fundamental al debido proceso en
conexidad al derecho a la educación.
</p>

<h1>II. HECHOS</h1>
<%= @accion.hechos %>

<h1>III. ARGUMENTACIÓN JURÍDICA</h1>
<%= @accion.formulario.arguments %>

<h1>IV. SOLICITUD</h1>

De acuerdo con lo expuesto señor juez solicito se ordene la
protección de mi derecho
a la educación.

<h1>V. COMPETENCIA</h1>

Es Ud. Señor Juez competente por lo establecido en la ley para
conocer del presente asunto.

<h1>VI. DECLARACIÓN JURADA</h1>

Bajo la gravedad del juramento manifiesto que sobre los mismos
hechos invocados en esta
demanda no he interpuesto otra acción de tutela.

<h1>VII. PRUEBAS</h1>

Enumere los documentos que desee anexar y que considere que
serán útiles para el juez
para tomar una decisión.

<h1>VII. NOTIFICACIONES</h1>

La accionante en:………………………..
La accionada en:…………………………

Del Señor Juez, atentamente:

C. C. No…………….de………………….
