Señor <br>
JUEZ.... ? <br/>
E.S.D. <br />

<h2>I. IDENTIFICACIÓN</h2>

<p> n@, identificad@ con la C. C No………….de……….,
ante Ud. respetuosamente ejerzo la acción de tutela contra
, en razón a que de acuerdo
con los hechos y argumentos que expongo a continuación
considero que dicha persona
(Púbica, privada ó solo persona) me ha vulnerado el derecho
fundamental al debido proceso en
conexidad al derecho a la educación.
</p>

<h2>II. HECHOS</h2>
<%= @accion.hechos %>

<h2>III. ARGUMENTACIÓN JURÍDICA</h2>
<%= raw arguments %>

<h2>IV. SOLICITUD</h2>

De acuerdo con lo expuesto señor juez solicito se ordene la
protección de mi derecho
a la educación.

<h2>V. COMPETENCIA</h2>

Es Ud. Señor Juez competente por lo establecido en la ley para
conocer del presente asunto.

<h2>VI. DECLARACIÓN JURADA</h2>

Bajo la gravedad del juramento manifiesto que sobre los mismos
hechos invocados en esta
demanda no he interpuesto otra acción de tutela.

<h2>VII. PRUEBAS</h2>

Enumere los documentos que desee anexar y que considere que
serán útiles para el juez
para tomar una decisión.

<h2>VII. NOTIFICACIONES</h2>

La accionante en:……………………….. <br />
La accionada en:………………………… <br />

Del Señor Juez, atentamente: <br /><br />

C. C. No…………….de………………….
